/* Global */

body {

    margin: 0;

    padding: 0;

    font-family: 'Roboto';

    font-size: 16px;

	background-color: #efefef;	color: black;

}

h1 {

    font-family:'Roboto';

    /* font-size: 20px; */

    font-weight: bold;

    text-align: center;

    color: rgba(0, 0, 0, 0.7);

    

    /* margin-top: 18px; */

    margin-bottom: 0;   

}

h3 {

    font-family: 'Roboto';

    color: rgb(2, 190, 17);

    text-align: center;

    margin-top: 20px;

    margin-bottom: 20px;

}

/* Local */

.container {

    background: #fff;

    margin: 12% 15%;

    padding: 5px 20px;

    /* box-shadow: -15px 20px 25px #9E9E9E; */

}

#printColor {

    display: none;

    margin-top: 5px;

}

#printColor span {

    padding: 2px 20px;

    border: 2px solid;

}

form {

    padding: 0;

    display: flex;

}

#colorValueOption {

    display: none;    

}

input[type="checkbox"] {

    width: 15px;

    height:15px;

    

    margin: 30px 5px 25px 5%;

}

#colorPicker, input[type="text"] {

    width: 50px;

    margin: 0 2.5% 0 5%;

    width: 40%;

}

#colorPicker {

    margin-top: 43px;

}

input[type="text"] {

    margin-top: 40px;

    height: 22px;

    padding-bottom: 5px;

    font-size: 18px;

    border: none;

    border-bottom: 3px solid green;

}

/* BUTTON */

input[type='button'] {

    margin: 40px 5% 0 2.5%;

    padding: 6px 15px;

    font-size: 16px;

    width: 40%;

    float: right;

    

    /* background-color: rgb(2, 190, 17); */

    background-color: rgba(0, 0, 0, 0.7);

    /* background-color: #F95700; */

    

    color:white;

    border: none;

}

input[type='button']:hover {

    cursor: pointer;

    font-weight: bold;

}

/* RESPONSIVE */

@media (max-width: 650px) {

    body {

        font-size: 14px;

    }

    

    h1 {

        font-size: 28px;

        margin-top: 20px;

    }

}

@media (max-width: 520px) {

    .container {

        background: #fff;

    

        margin: 5%;

        padding: 3x 15px;

        height: 100%;    

        /* box-shadow: -15px 20px 25px #9E9E9E; */

    }

    body {

        font-size: 14px;

    }

    

    h1 {

        font-size: 26px;

        margin-top: 10px;

    }

}
