body {
    margin: 0;
    padding: 0;  

    display: flex;
    justify-content: center;
    align-items: center;
    height:  90vh;
    font-family: 'Roboto';
    text-align: center;

    background-color: #efefef;
}

h1 {
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 30px;
    color: #4d4d4d;
}

.container {
    padding: 25px 5%;
    background-color: #fff;
}

h4 {
    margin-top: 35px;
    margin-bottom: 5px;
}

span {
    border-bottom: 2px solid rgb(2, 190, 17);
    padding: 3px 10px;
    margin-bottom: 0;
}

form {
    margin: 10px 0;
}

#printBinary {
    display: none;
}

input[type='number'] {
    font-size: 16px;
    width: 50%;
    margin-right: 5px;
    padding: 5px 10px;
}

input[type='button'] {
    font-size: 16px;
    font-weight: bold;

    background-color: rgb(2, 190, 17);
    color: white;

    border: none;

    padding: 7px 10px;
    width: 30%;

    transition: all .3s ;
}

input[type='button']:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(10, 150, 21);
}

